body {
  background-color: #014d01;
}

.jo-boss{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  padding: 50px;
}

.jo-p{
  font-size: 30px;
  color : white;
  text-align: center;
}


.jo-big{
 width: 90%;
  margin: auto;
}

.jo-btn{
  width: 500px;
  height: 500px;
  margin: auto;
  display: block;
  background-color: #920b0b;
  font-weight: bold;
  font-size: 80px;
  color: #ffffff;
}

.jo-btn2 {
  width: 200px;
  height: 200px;
}

.jo-btn2-boss{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 100px;
}

.res {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  border: 1.5px solid white;
  line-height: 1.6rem;
}